.card-user {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 245px;
    height: 142px;
    padding: 15px 20px;
    background-color: #2E2B2B;
    border-radius: 18px;
    gap: 10px;
}
.card-user:hover {
    background-color: #514D4D;
}
.card-user h1{
    color: #F5F5F0;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: -0.3%;
    margin: 0;
    overflow-x: clip;
    white-space: nowrap;
}
.card-user p{
    color: #F5F5F0;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: -0.3%;
    margin: 0;
}