.App {
  padding: 70px 120px;
  background-color: #1C1818;
}

.App-header {
  display: flex;
  position: static;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding: 0;
  height: 30px;
  padding: 16px 120px;
}
.App-header h3{
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  color: #FFFFFF;
}
.App-header a{
  display: flex;
  gap: 10px;
  align-items: center;
}
.App-link{
  text-decoration: none;
}


